{{#linkTo "index" tagName="a" class="item" }}
    <span {{bindAttr href="view.href"}}>Главная страница</span>
{{/linkTo}}
{{#linkTo "available_services" tagName="a" class="item" }}
    <span {{bindAttr href="view.href"}}>Управление услугами</span>
{{/linkTo}}
{{#linkTo "orders" tagName="a" class="item" }}
    <span {{bindAttr href="view.href"}}>Управление заказами</span>
{{/linkTo}}
{{#linkTo "payments" tagName="a" class="item" }}
    <span {{bindAttr href="view.href"}}>Платежи</span>
{{/linkTo}}