


@import "compass"
@import "libs/*"




/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
  display: block

body
  line-height: 1
  z-index: -2000

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

/* End of Eric Meyer's CSS Reset */
//.shadow_block
//  //width: 100%
//  //height: 100%
//  position: relative
//  //background: image_url("land/team_days.png") repeat-y
//  //margin-top: 50px
//  &:before
//    content: ''
//    display: block
//    position: absolute
//    background: image_url("land/shadow_top.png") no-repeat
//    background-position: center
//    width: 100%
//    height: 22px
//    top: 0
//  &:after
//    content: ''
//    display: block
//    position: absolute
//    background: image_url("land/shadow_bottom.png") no-repeat
//    background-position: center
//    width: 100%
//    height: 22px
//    bottom: 0
.call_button, .submit_button, .button
  &:hover
    opacity: 0.9

.bx-pager
  display: none
.bx-wrapper
  position: relative
  height: inherit
  .bx-controls
    //height: 560px
    width: 1020px
    //height: 100%
    //position: absolute
    top: 0
    .bx-controls-direction
      .bx-next, .bx-prev

        top: 50%
        margin-bottom: 30px
        width: 40px
        height: 40px

        position: absolute
        display: block
      .bx-next
        right: -49px
        background: image-url('land/bx_next_inactive.png')
        //@include transform(rotate(180deg))
        &:link
          //@include transform(rotate(180deg))
        &:hover
          background: image-url('land/bx_next.png')
          @include transform(rotate(180deg))
      .bx-prev
        left: -49px
        background: image-url('land/bx_next_inactive.png')
        @include transform(rotate(180deg))
        &:hover
          background: image-url('land/bx_next.png')
          @include transform(rotate(0deg))

.input_text
  background-color:  #ffffff
  width: 430px
  height: 40px
  font-size: 18px
  border: none
  padding-left: 20px
  margin-bottom: 10px

.submit_button
  width: 230px
  height: 40px
  background-color: #8d0a8c
  border: solid 3px #ffffff
  font-family: 'Solomon'
  color:  #ffffff
  font-size: 16px
  font-weight: bold
  float: right
  margin-right: 30px
  &:hover
    cursor: pointer

.call_button
  background-color:  #e1e1e1
  width: 230px
  height: 40px
  font-family: 'Solomon'
  color:  #000000
  font-size: 16px /* Approximation due to font substitution */
  font-weight: 700
  text-align: center
  line-height: 40px
  &:hover
    cursor: pointer


.more, .watch_video, .watch_full_review
  width: 35%
  float: left
  display: inline-block
  a, img, p
    display: inline-block
    vertical-align: middle
    margin-bottom: 43px
  a, p
    margin-left: 15px
    font-family: 'Solomon'
    color:  #1b1c1c
    font-size: 14px
    font-weight: 700
    line-height: 16px
    text-decoration: underline
    cursor: pointer

body
  background: asset-url("land/land_backgraund.png") repeat

#wrap
  position: relative
  //background-color: red
  width: 1100px
  //height: 600px
  margin: 0 auto
  .head_contact_us
    width: 1096px
    margin: 0 auto
    background: image_url("land/team_days.png")

    //background-size: 100% 100%
    //margin-bottom: 22px
    //overflow: hidden
    .head_contact_us-logo
      display: inline-block
      margin-bottom: 25px
      a
        //position: relative
        margin-top: 34px
        margin-left: 98px


    .head_contact_us-phone
      //position: relative
      //float: right
      display: inline-block
      margin-left: 445px
      .city
        margin-top: 10px
        margin-bottom: 15px
        p
          display: inline-block
          font-family: 'Solomon'
          color:  #d3d3d3
          font-size: 16px /* Approximation due to font substitution */
          font-weight: 700
          //text-align: left
        img
          display: inline-block
          margin-left: 10px
          &:hover
            cursor: pointer
        span
          margin-left: 5px
          font-family: 'Solomon'
          color:  #000000
          font-size: 16px /* Approximation due to font substitution */
          font-weight: 300
          display: inline-block
          &:hover
            cursor: pointer
          //text-align: left
          //&:before
          //  background: image_url("land/arrow_down.png") no-repeat
          //  //background-color: #2c2543
          //  content: '1'
      .phone
        margin-bottom: 15px
        a
          font-family: Intro
          color:  #000000
          font-size: 48px /* Approximation due to font substitution */
          font-weight: bold
          text-align: right
          display: inline-block
          margin-left: 23px
          text-decoration: none
          //&:before
          //  background: image_url("land/phone.png") no-repeat
          //  content: ''
          img
            display: inline-block
      .call_button
        margin-left: auto
      a
        text-decoration: none


  .efficiency
    width: 961px
    height: 155px
    margin: 0 auto
    background: image_url("land/60min.png")100%
    padding-top: 85px
    p
      text-transform: uppercase
      font-family: Intro
      color: #fefefe
      font-size: 23px
      font-weight: 900
      line-height: 18px
      text-align: center
      transform: scaleX(1.0019)
      span
        line-height: 80px
        font-family: Intro
        color: #ffffff
        font-size: 65px
        font-weight: 900
        text-align: left
        transform: scaleY(1.0181)


  #static_slider
    width: 960px
    height: 416px
    margin: 30px auto
    img
      width: 960px
      height: 416px
    .button
      width: 230px
      height: 40px
      display: block
      position: absolute
      bottom: 40px
      right: 50px
      background-color:  #8d0a8c
      color:  #ffffff
      text-align: center
      line-height: 40px
      text-transform: lowercase
      font-family: 'Solomon'
      font-weight: bold
      &:hover
        cursor: pointer
    .bx-controls
      height: 0
      .bx-next, .bx-prev
        top: 188px

  .team_days
    background: image_url("land/team_days_background.png") no-repeat
    padding-top: 70px
    width: 1096px
    height: 128px
    margin: 0 auto
    //margin: 0 auto

    .wrap
      margin: 0 auto
      height: 50px
      width: 805px
      .team_days_logo
        width: 372px
        height: 50px
        float: left
        background: image_url("land/team_days_logo.png") no-repeat 100%
      .team_days_text
        float: right
        text-transform: uppercase
        font-family: Intro
        color: #1b1c1c
        font-size: 17px
        font-weight: bold
  .benefit
    margin: 66px auto 72px auto
    //margin-top: 66px
    //margin-bottom: 72px

    width: 900px
    p.head
      font-family: Intro
      color:  #1b1c1c
      font-size: 18px /* Approximation due to font substitution */
      font-weight: 900
      line-height: 19px /* Approximation due to font substitution */
      text-align: center
      text-transform: uppercase
      margin-bottom: 66px
    .block
      display: inline-block
      width: 50%
      //height: 60px
      .content
        width: 70%
        margin: 0 auto 34px auto
        //margin-bottom: 34px
        &:last-child
          margin-bottom: 0
        .check
          width: 20px
          height: 20px
          display: inline-block
          vertical-align: middle
          background: image_url("land/check_box.png") no-repeat
          margin-right: 20px
        .text
          display: inline-block
          vertical-align: middle
          p
            text-transform: lowercase
            font-family: 'Solomon'
            color:  #1b1c1c
            font-size: 16px /* Approximation due to font substitution */
            font-weight: normal
            line-height: 14px /* Approximation due to font substitution */
            text-align: left
  .leave_application
    width: 961px
    height: 265px
    background: image_url("land/60min.png") no-repeat
    background-size: 100% 100%
    margin: 0 auto


    .text

      //height: inherit
      display: inline-block
      width: 50%
      vertical-align: top
      p.main
        display: block
        margin-top: 50px
        margin-left: 42px
        font-family: Intro
        color: #fffefe
        font-size: 18px
        font-weight: bold

        text-align: left
        text-transform: uppercase
      p
        display: block
        margin-top: 34px
        margin-left: 44px
        font-family: 'Solomon'
        color: #ffffff
        font-size: 17px
        font-weight: normal

        text-align: left
    .form
      //height: inherit
      vertical-align: top
      display: inline-block
      width: 50%
      margin-top: 50px
      .submit_button
        margin-bottom: 21px
      ::-webkit-input-placeholder
        color: #d3d3d3
      :-moz-placeholder
        color: #d3d3d3
        opacity: 1
      ::-moz-placeholder
        color: #d3d3d3
        opacity: 1
      :-ms-input-placeholder
        color: #d3d3d3


  .showcase_services
    //margin-top: 44px
    width: 1079px
    height: 810px
    //clear: both
    //height: auto
    //overflow: visible
    margin: 44px auto 0 auto
    text-align: center
    background: image_url("land/background_showcase.png") repeat-y

    img.logo
      margin-top: 55px
      margin-bottom: 55px
    .content
      margin: 0 auto
      width: 960px
      height: 416px
      //position: relative
      .service
        width: 960px
        height: 416px
        position: relative
        p.name
          display: block
          width: 350px
          position: absolute
          bottom: 50px
          left: 50px
          text-transform: uppercase
          font-family: Intro
          text-align: left
          color: #1b1c1c
          font-size: 14px
          font-weight: 900
        .button
          width: 230px
          height: 40px
          display: block
          position: absolute
          bottom: 40px
          right: 50px
          background-color:  #8d0a8c
          color:  #ffffff
          text-align: center
          line-height: 40px
          text-transform: lowercase
          font-weight: bold
          font-family: 'Solomon'
          &:hover
            cursor: pointer
          //p
          //  background-color:  #8d0a8c
          //  text-transform: lowercase
          //  font-family: 'Solomon'
          //  color:  #ffffff
          //  line-height: 40px
          //  text-align: center
        img
          width: 100%
          height: 100%
        .transparent
          width: 100%
          height: 123px
          opacity: 0.8
          position: absolute
          bottom: 0
          background-color: #ffffff
      .description
        //overflow: hidden
        .text
          width: 50%
          display: inline-block
          vertical-align: top
          p
            margin-top: 30px
            margin-left: 50px
            font-family: 'Solomon'
            color:  #1b1c1c
            font-size: 14px
            font-weight: 400
            line-height: 16px
            text-align: left
        .info
          width: 100%
          display: inline-block

        .prop
          width: 50%
          line-height: 50px
          display: inline-block
          .prop_text
            width: 50%
            display: inline-block
            text-align: right
            margin-right: 20px
            p
              font-family: 'Solomon'
              color:  #1b1c1c
              font-size: 14px
              font-weight: 700
              text-transform: uppercase
          .prop_stars
            width: 45%
            display: inline-block
            text-align: left
            img
              margin-left: 10px

  .all_services
    width: 960px
    margin: 61px auto 0 auto
    //margin-top: 61px
    text-align: center
    overflow: hidden
    .content
      width: 960px
      margin-top: 43px
      text-align: left
      .service
        width: 320px
        height: 200px
        //display: inline-block
        float: left
        position: relative
        margin-bottom: 10px
        overflow: hidden
        a
          height: 100%
          width: 100%
          display: block
          position: absolute
          top: 0
          &:hover
            background: image_url("land/zoom1.png")
            opacity: 0.6

        img
          //width: inherit
          height: inherit
        .transparent
          width: inherit
          height: 80px
          opacity: 0.8
          bottom: 0
          position: absolute
          background-color: #ffffff
        p
          font-family: Intro
          color:  #1b1c1c
          font-size: 14px
          font-weight: 900
          text-transform: uppercase
          position: absolute
          left: 25px
          text-align: left
          top: 140px
          right: 50px

  .services_look_like
    width: 960px
    margin: 0 auto
    margin-top: 40px
    p
      font-family: Intro
      color:  #1b1c1c
      font-size: 18px
      font-weight: 900
      line-height: 19px
      text-align: center
      text-transform: uppercase
      margin-top: 32px
      margin-bottom: 32px
    #video_slider.content
      height: auto
      margin: 0 auto
      width: 960px
    .watch_full_review
      margin-left: 100px
      margin-top: 36px
    .bx-controls
      height: 0
      .bx-next, .bx-prev
        top: 267px
  #one_more_video_slider
    clear: both
    height: 241px
    margin: 0 auto
    width: 960px
    margin-bottom: 38px


    a.hover
      position: absolute
      top: 0
      display: block
      width: 480px
      height: 241px
      cursor: pointer
      &:hover
        background: image_url("land/zoom2.png") no-repeat
        opacity: 0.6
        background-size: 100% 100%

    .bx-wrapper
      max-width: none
      .bx-controls
        height: 0
        .bx-next, .bx-prev
          top: 100px



  .make_happy
    width: 1000px
    height: 623px
    margin: 0 auto
    background: image_url("land/happy_employee.png") no-repeat
    background-position: center
    p.head
      margin-top: 51px
      text-align: center
      text-transform: uppercase
      font-family: Intro
      color:  #1b1c1c
      font-size: 18px
      font-weight: 900


    .block
      display: inline-block
      width: 50%
      margin-top: 110px
      //height: 485px
      .left
        text-align: right
        margin-right: 49%
      .right
        text-align: left
        margin-left: 49%
      .left, .right
        font-family: 'Intro'
        font-weight: bold
        color:  #1b1c1c
        text-transform: uppercase
        font-size: 13px
        margin-bottom: 100px
        //width: 70%
        //margin-top: 100px
    //.happy_employees
    //  //background: image_url("land/happy_employees.png") no-repeat
    //  //background-position: center
    //  overflow: hidden
    //  margin: 26px auto 0 auto
    //  height: 477px
    //  padding-top: 50px
    //  p
    //    font-size: 14px
    //    width: 23%
    //    display: block
    //    margin-bottom: 95px
    //  p.left
    //    padding-right: 27%
    //    float: left
    //    width: 23%
    //    text-align: right
    //    //padding-right: 50px
    //  p.right
    //    padding-left: 27%
    //    float: right
    //    //padding-left: 50px
    //    text-align: left
    //    width: 23%
  .because_we_are
    width: 900px
    margin: 0 auto
    margin-top: 61px
    .head
      width: 584px
      margin: 0 auto 30px auto
      //overflow: hidden
      img
        display: inline-block
        vertical-align: middle
        //float: left
      p
        //float: right
        display: inline-block
        vertical-align: middle
        //margin-top: 20px
        text-transform: uppercase
        font-family: Intro
        color:  #1b1c1c
        font-size: 18px
        font-weight: 900
        line-height: 19px
    .block
      width: 50%
      display: inline-block
      height: 250px
      vertical-align: middle
      //float: left
      //overflow: hidden

      .content
        //margin-left: 90px
        //margin-bottom: 30px
        //margin: 0 auto 30px auto
        height: 50px
        margin: 0 auto 30px auto
        width: 80%
        font-family: 'Solomon'

        .img
          width: 70px
          text-align: center
        p, .img
          display: inline-block
          vertical-align: middle
        p
          margin-left: 20px
    .back_money

      display: block
      width: 373px
      height: 69px
      margin: 0 auto
      border: solid 2px red
      background-color: #ffffff

      p
        margin-top: 14px
        font-family: 'Intro'
        display: inline-block
        vertical-align: middle
        color:  #1b1c1c
        font-size: 18px
        font-weight: 900
        //line-height: 38px
        text-align: center
        width: 100%
    p.figa
      margin-top: 26px
      font-family: 'Solomon'
      color: #1b1c1c
      font-size: 10px
      font-weight: 400
      line-height: 12px
      text-align: center
  
  .companies
    width: 960px
    //height: 919px
    margin: 0 auto
    margin-top: 26px
    background: image_url("land/companies_background.png") no-repeat
    background-size: 100% 100%
    //overflow: visible
    p.head
      font-family: Intro
      //display: block
      color:  #1b1c1c
      font-size: 18px
      font-weight: 900
      text-align: center
      padding-top: 49px
    .logo_all_companies
      width: inherit
      margin: 70px auto 60px auto

      //overflow: hidden
      .logo
        width: 240px
        //height: 150px
        //float: left
        text-align: center
        display: inline-block
        vertical-align: middle
        img
          width: 60%
    #photo_report.content
      height: auto
      margin: 0 auto
      width: 960px
      .bx-controls
        height: 0
        .bx-next, .bx-prev
          top: 200px
      .company
        width: 960px
        height: 416px
        position: relative
        overflow: hidden
        img.photo
          width: 100%
          //height: inherit
        .transparent
          width: 960px
          height: 123px
          opacity: 0.8
          position: absolute
          bottom: 0
          background-color: #ffffff

        p.name
          position: absolute
          bottom: 50px
          left: 30px
          font-family: Intro
          color: #1b1c1c
          font-size: 14px
          font-weight: 900
          text-transform: uppercase
        img.logo
          //width: 50px
          height: 50px
          position: absolute
          bottom: 35px
          right: 100px
      .review
        width: 960px
        margin: 0 auto

        .employee_photo
          display: inline-block
          width: 20%
          text-align: center
          margin-top: 46px
          img
            width: 139px
            height: 139px
        .text
          font-family: 'Solomon'
          display: inline-block
          vertical-align: top
          width: 80%
          margin-top: 46px
          .company_post
            font-weight: 900
            margin-left: 40px
          .full_review
            margin-left: 40px
            margin-top: 25px
            line-height: 18px
            span
              color: #8d0a8c
          .watch_full_review
            margin-left: 40px
            margin-top: 25px
  .other_reports
    width: 960px
    margin: 0 auto
    margin-top: 14px
    background: image_url("land/team_days.png") no-repeat
    background-size: 100% 100%
    p.head
      padding-top: 25px
      margin-bottom: 25px
      font-family: Intro
      color:  #1b1c1c
      font-size: 18px
      font-weight: 900
      text-align: center
      text-transform: uppercase
    #other_photo_report.content
      height: 120px
      margin: 0 auto
      width: 960px
      #hide_slider
        z-index: 600
        .bx-next, .bx-prev
          top: 300px
      .content_for_hide_slider

        position: fixed
        top: 100px
        display: none


      .custom_thumb
        display: none
        z-index: 400

      .slide
        overflow: hidden
        &:hover
          .hover
            display: block

        .hover
          height: 160px
          width: 280px
          position: absolute
          display: none
          background: image_url("land/zoom3.png") no-repeat -20px
          opacity: 0.6
          background-size: 100% 100%

        img
          width: 240px
          &:hover
        a
          position: absolute
          height: 120px
          width: 255px
          display: block
          top: 0
          cursor: pointer
            //cursor: pointer
      .bx-wrapper
        max-width: none
        .bx-controls
          height: 0
          .bx-next, .bx-prev
            top: 40px
      #hide_slider
        .content_for_hide_slider
          width: 960px
          height: 641px
        .bx-wrapper
          max-width: none
          .bx-controls
            height: 0
            .bx-next, .bx-prev
              top: 290px
            .bx-next
              //right: -49px
              background: image-url('land/bx_next_inactive_white.png')
              //@include transform(rotate(180deg))
              //&:link
              //  @include transform(rotate(180deg))
              &:hover
                background: image-url('land/bx_next.png')
                @include transform(rotate(180deg))
            .bx-prev
              //left: -49px
              background: image-url('land/bx_next_inactive_white.png')
              @include transform(rotate(180deg))
              &:hover
                background: image-url('land/bx_next.png')
                @include transform(rotate(0deg))

        img
          width: 960px
          height: 641px
        .custom_thumb
          img
            width: 128px
            height: 85px
            float: left
            margin-top: 11px
            margin-right: 9px
          &:last-child
            margin-right: 0px

  .how_we_work
    width: 938px
    margin: 0 auto
    margin-top: 60px

    text-align: center
    img.process
      margin-top: 52px
    .text
      margin-top: 50px
      text-align: left
      p
        font-family: 'Solomon'
        color: #333333
        font-size: 12px
        font-weight: 700
        width: 200px
        //text-align: left
        //text-transform: lowercase
        display: inline-block
        vertical-align: top
        //float: left
        margin-right: 60px
        &:last-child
          margin-right: 0
          width: 158px
  .need_holiday
    width: 961px
    height: 161px
    margin: 0 auto
    margin-top: 60px
    background: image_url("land/60min.png")
    p.text
      font-family: Intro
      color: #fffefe
      font-size: 16px
      font-weight: 900
      text-transform: uppercase
      display: inline-block
      vertical-align: top
      margin-top: 70px
      margin-left: 43px
    .button
      background-color:  #aaaaaa
      width: 230px
      height: 40px
      display: inline-block
      vertical-align: top
      margin-top: 65px
      margin-left: 303px

      font-family: 'Solomon'
      color:  #ffffff
      font-size: 16px
      font-weight: 700
      text-align: center
      text-transform: lowercase
      line-height: 40px

      &:hover
        cursor: pointer
      p
        font-family: 'Solomon'
        color:  #ffffff
        font-size: 16px
        font-weight: 700
        text-align: center
        text-transform: lowercase
        line-height: 40px

  .social_net
    width: 961px
    margin: 0 auto
    margin-top: 48px
    p.head
      font-family: Intro
      color:  #1b1c1c
      font-size: 18px
      font-weight: 900
      text-transform: uppercase
      text-align: center
    .networks
      width: inherit
      margin-top: 58px
      a
        display: inline-block
        margin-right: 88px
        &:last-child
          margin-right: 0
        img
          width: 174px
          height: 48px

  .questions
    width: 1096px
    text-align: center
    margin: 0 auto
    margin-top: 57px
    background: image_url("land/team_days.png")
    background-size: 100% 100%
    vertical-align: top
    padding-bottom: 60px
    img
      margin-top: 44px
    .block_phone, .block_call
      width: 100%
      margin-top: 56px
    p.call_us, .block_call p, .button_container, .phone_content
      width: 50%
      display: inline-block
      //vertical-align: bottom
    p.call_us, .block_call p
      text-align: right
      //padding-right: 50px
    .phone_content
      text-align: left
    .phone, .call_button
      margin-left: 60px
    .call_us, .block_call p
      font-family: 'Intro'
      color:  #1b1c1c
      font-size: 18px
      font-weight: 900
      line-height: 19px
      text-transform: uppercase
    .phone
      font-family: Intro
      color:  #000000
      font-size: 48px
      font-weight: bold
      position: relative
      text-decoration: none
      &:before
        position: absolute
        content: ''
        width: 21px
        height: 16px
        background: image_url("land/phone.png")
        left: -35px
        top: 22px
    .call_button, .block_call p
      vertical-align: top
    

#rights
  height: 40px
  width: 100%
  min-width: 100%
  background-color: #1b1b1b
  .content
    width: 960px
    margin: 0 auto
    p
      color: #ffffff
      line-height: 40px
      //padding-left: 250px
      font-family: 'Arial'
      font-size: 10px

.close_btn
  position: absolute
  top: 0
  right: 0
  width: 40px
  height: 40px
  background: image_url("land/close_button_other_reports.png") no-repeat
  cursor: pointer

.popup-shadow
  //display: none
  position: fixed
  z-index: 300
  height: 100%
  width: 100%
  left: 0
  top: 0
  background: rgba(0, 0, 0, 0.9)

.popup-shadow_report
  //display: none
  position: fixed
  z-index: -10
  height: 100%
  width: 100%
  left: 0
  top: 0
  background: rgba(0, 0, 0, 0.9)


//.popup-shadow-ts
//  //display: none
//  position: fixed
//  z-index: 500
//  height: 100%
//  width: 100%
//  left: 0
//  top: 0
//  background: rgba(0, 0, 0, 0.9)



.cross_button
  display: block
  cursor: pointer
  width: 11px
  height: 9px
  position: absolute
  right: 16px
  top: 17px
  background: image_url("land/cross.png") no-repeat
  background-size: 100% 100%

#modal_form, #success-popup, #modal_form_service, #success-popup_service, #modal_form_order, #success-popup_order
  p.header
    //display: block
    padding-top: 65px
    font-family: 'Intro'
    color: #212121
    font-size: 18px
    font-weight: bold
    text-transform: uppercase
  p.text
    padding-top: 42px
    font-family: 'Solomon'
    color: #212121
    font-size: 16px
    font-weight: bold
  .form_content
    width: 50%
    margin-left: 50%


#modal_form, #success-popup, #modal_form_service, #success-popup_service, #modal_form_order, #success-popup_order
  .content
    z-index: 300
    position: fixed
    top: 15%
    left: 0
    right: 0
    width: 960px
    margin: auto
#modal_form, #modal_form_service, #modal_form_order
  display: none

  .form

    form
      width: 100%
      margin-top: 47px
    //line-height: 8.405px
    //text-align: left
    //transform: scaleY(1.0181)
    margin: 0 auto
    width: 960px
    height: 490px
    background: image_url("land/girl_background.png") no-repeat
    background-size: 100% 100%
    background-color:  #ebeff2
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px
    //.input_text
    //  margin-left: 40px
    //  margin-top: 20px
    //.submit_button

#success-popup, #success-popup_service, #success-popup_order
  display: none
  .success_text

    margin: 0 auto
    width: 960px
    height: 490px
    background: image_url("land/girl_ok_background.png") no-repeat
    background-size: 100% 100%
    p.close_button
      font-family: 'Solomon'
      color: #8f8f8f
      font-size: 16px
      font-weight: normal
      text-decoration: underline
      margin-top: 90px
      cursor: pointer


#more_about_services-popup
  .content
    z-index: 300
    position: fixed
    //top: 3200px
    top: 20px
    left: 0
    right: 0
    width: 960px
    //height: 1070px
    margin: auto
    //background-color: red
    background: image_url("land/more_about_services_background.png") no-repeat

#more_about_services-popup
  display: none
  .popup-shadow_report
    z-index: 0
  .content
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px
    .description
      max-height: 350px
      overflow-y: auto
      p
        font-size: 14px
        text-align: left
        line-height: 21px
        margin-top: 20px
      h3
        font-family: Intro
        text-transform: uppercase
        color: rgb(141, 10, 140)
        font-size: 20px
        font-weight: bold
        margin: 10px 0 0 71px
      ul
        font-size: 14px
        margin-left: 71px
        text-indent: -17px
        li
          line-height: 20px
          &:before
            position: relative
            left: -11px
            top: 10px
            font-size: 47px
            content: "•"
            color: rgb(141, 10, 140)



  .bx-wrapper
    max-width: none
    .bx-controls
      height: 0
      .bx-next, .bx-prev
        top: 290px
      .bx-next
        //right: -49px
        background: image-url('land/bx_next_inactive_white.png')
        //@include transform(rotate(180deg))
        //&:link
        //  @include transform(rotate(180deg))
        &:hover
          background: image-url('land/bx_next.png')
          @include transform(rotate(180deg))
      .bx-prev
        //left: -49px
        background: image-url('land/bx_next_inactive_white.png')
        @include transform(rotate(180deg))
        &:hover
          background: image-url('land/bx_next.png')
          @include transform(rotate(0deg))
  p.head
    font-family: 'Intro'
    margin-left: 109px
    color: #1b1c1c
    font-size: 24px
    font-weight: bold
    line-height: 100px
    text-transform: uppercase
  img.img_slide
    width: 100%
    //height: 416px
  .description, .more_description
    display: inline-block
    vertical-align: top
  .description
    font-family: 'Solomon'
    width: 630px
    p
      margin-top: 37px
      margin-left: 71px
      width: 500px
  .more_description
    width: 330px
    line-height: 27px
    padding-top: 20px
    .watch_video
      width: 100%
      margin-left: 120px
      margin-top: 81px
    img
      margin-left: 15px
    .button
      margin-top: 150px
      width: 230px
      height: 40px
      display: block
      position: relative
      //bottom: 40px
      //right: 50px
      margin-left: 50px
      background-color:  #8d0a8c
      color:  #ffffff
      text-align: center
      line-height: 40px
      text-transform: lowercase
      font-family: 'Solomon'
      font-weight: bold
      &:hover
        cursor: pointer
    .prop_text
      width: 45%
      display: inline-block
      text-align: right
      margin-right: 20px
      p
        font-family: 'Solomon'
        color:  #1b1c1c
        font-size: 14px
        font-weight: 700
        text-transform: uppercase
    .prop_stars
      width: 45%
      display: inline-block
      text-align: left
      img
        margin-left: 10px

  .prev_next_button
    width: 100%
    margin: 20px 0

    .next, .prev
      //width: auto
      display: inline-block
      margin: 10px 20px
      p, img
        cursor: pointer
        margin: 0 10px
        display: inline-block
        vertical-align: middle
      p
        font-family: Solomon
        color:  #1b1c1c
        font-size: 14px /* Approximation due to font substitution */
        font-weight: bold
        text-decoration: underline

    .prev img
      @include transform(rotate(180deg))
    .next
      float: right

//#one_more_video_slider, #more_about_services-popup
#popup_youtube_video
  .pupup_video
    display: none
    z-index: 401
    //position: fixed
    .popup-shadow
      z-index: 400
    .content
      position: fixed
      width: 960px
      height: 482px
      right: 0
      left: 0
      top: 120px
      margin: 0 auto
      z-index: 402
//background-color: #ff0000
