//= require_self
//= require general
//= require semantic-ui

.container
  width: 1200px
  margin: 0 auto
  font-family: "Arial"

a.wrapper
  text-decoration: none
  color: inherit
  cursor: pointer

th
  > .row
    > .content.column
      display: inline-block

    > .updown.column
      display: inline-block

form.filters
  select
    width: 100px